{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex justify-content-center mt-4">
        <h1 class="d-inline-block blue">stabby.tech</h1>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="card col-xl-3 col-lg-4 col-md-5 col-sm-9 col-12 p-3 bg-body-tertiary"> 
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_brand" class="form-label">{{ form.username.label_tag }}</label><br>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username"  autocomplete="on">
                </div>
                <div class="form-group mt-3">
                    <label for="id_brand" class="form-label">{{ form.password.label_tag }}</label><br>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password"  autocomplete="on">
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" value="Login" class='btn btn-primary mt-4 w-100'>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <h6 class="d-inline-block blue">It's been <span class="d-inline-block border ps-1 pe-1 text-danger"><samp><strong>{{number_of_days}}</strong></samp></span> days since Dan bought a knife.</h6>
    </div>

{% endblock %}