<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item" aria-current="page">
      <a href="{% if active == 'knives' %}{% url 'knives' %}{% elif active == 'sharpeners' %}{% url 'sharpeners' %}{% else %}{% url 'library' %}{% endif %}" class="link-style">{% if active == 'knives' %}Knives{% elif active == 'sharpeners' %}Sharpeners{% else %}Library{% endif %}</a>
    </li>
    {% if active != 'library' %}
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% if active == 'knives' %}{% url 'knife_detail' knife_id=knife_id %}{% elif active == 'sharpeners' %}{% url 'sharpener_detail' sharpener_id=sharpener_id %}{% endif %}#work_log_card" class="link-style">Detail</a>
      </li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{% if form_type == 'add'%}Add {% else %}Edit {% endif %}Photo</li>
  </ol>
</nav>