<div class="card mt-4 mt-md-0">
    <div class="card-header d-flex justify-content-between">
        Brand Breakdown
    </div>
    <div class="card-body pb-0 pt-0 dash-card-body">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col" class="right">Count</th>
                    <th scope="col" class="right">Percentage</th>
                  </tr>
            </thead>
            <tbody>
                {% for brand in brand_breakdown %}
                    <tr>
                        <td><a href="{% url 'knives' %}?brand={{ brand.query_str }}" class="link-style">{{ brand.name }}</a></td>
                        <td class="right">{{ brand.count }}</td>
                        <td class="right">{{ brand.percentage }}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>