<div class="card mt-4">
    <div class="card-header d-flex justify-content-between">
        Handle Material Breakdown
    </div>
    <div class="card-body pb-0 pt-0 dash-card-body">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Handle Material</th>
                    <th scope="col" class="right">Count</th>
                    <th scope="col" class="right">Percentage</th>
                  </tr>
            </thead>
            <tbody>
                {% for hm in handle_material_breakdown %}
                    <tr>
                        <td>{{ hm.name }}</td>
                        <td class="right">{{ hm.count }}</td>
                        <td class="right">{{ hm.percentage }}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>