<div class="card mt-0">
    <div class="card-header d-flex justify-content-between">
      Stats
    </div>
    <div class="card-body pb-0 dash-card-body">
      {% csrf_token %}
      <div class="form-group row">
        <div class="col-auto">
          <label for="date" class="form-label">Last Purchase Date:</label>
        </div>
        <div class="col-auto ps-2">
            <input type="date" id="lastPurchaseDate" class="form-control form-control-sm" value="{{ last_purchase_date|date:'Y-m-d' }}">
        </div>
      </div>
      <hr />
      <dl class="row">
        <dt class="col-sm-6 text-sm-end text-start">Total Knives:</dt>
        <dd class="col-sm-6 text-start">{{ total_knives }}</dd>
        <dt class="col-sm-6 text-sm-end text-start">New Knives:</dt>
        <dd class="col-sm-6 text-start">{{ total_new_knives }}&nbsp;<span class="text-muted">({{ new_percentage }})</span></dd>
        <dt class="col-sm-6 text-sm-end text-start">Used Knives:</dt>
        <dd class="col-sm-6 text-start">{{ total_used_knives }}&nbsp;<span class="text-muted">({{ used_percentage }})</span></dd>
        <dt class="col-sm-6 text-sm-end text-start">Total Blades:</dt>
        <dd class="col-sm-6 text-start">{{ total_blades }}</dd>
        <dt class="col-sm-6 text-sm-end text-start">Total Sharpeners:</dt>
        <dd class="col-sm-6 text-start">{{ total_sharpeners }}</dd>
      </dl>
    </div>
</div>
