{% load custom_filters %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
      Details
        {% if not form %}
            <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% url 'knife_update' knife_id=knife.knife_id %}"><i class="fa-solid fa-edit"></i>&nbsp;&nbsp;Edit</a>
        {% else %}
            <button type="button" class="btn btn-light btn-sm align-self-center new-btn" disabled><i class="fa-solid fa-edit"></i>&nbsp;&nbsp;Edit</button>
        {% endif %}
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4 text-end">Brand:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.brand %}
                    {{ knife.brand }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.brand_notes %}<span class="text-primary pointer">&nbsp;<i class="fa-solid fa-circle-info" data-bs-toggle="popover" data-bs-title="Brand Notes" data-bs-content="{{ knife.brand_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Knife:</dt>
            <dd class="col-sm-8 text-start">{{ knife.name }}</dd>
            <dt class="col-sm-4 text-end">Knife Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.knife_type %}
                    {{ knife.knife_type }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.knife_type_notes %}<span class="text-primary pointer">&nbsp;<i class="fa-solid fa-circle-info" data-bs-toggle="popover" data-bs-title="Knife Type Notes" data-bs-content="{{ knife.knife_type_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Blade Material:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.blade_material %}
                  {{ knife.blade_material }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.blade_material_notes %}<span class="text-primary pointer">&nbsp;<i class="fa-solid fa-circle-info" data-bs-toggle="popover" data-bs-title="Blade Material Notes" data-bs-content="{{ knife.blade_material_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Handle Material:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.handle_material %}
                    {{ knife.handle_material }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.handle_material_notes %}<span class="text-primary pointer">&nbsp;<i class="fa-solid fa-circle-info" data-bs-toggle="popover" data-bs-title="Handle Material Notes" data-bs-content="{{ knife.handle_material_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Lock Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.lock_type %}
                    {{ knife.lock_type }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.lock_type_notes %}<span class="text-primary pointer">&nbsp;<i class="fa-solid fa-circle-info" data-bs-toggle="popover" data-bs-title="Lock Type Notes" data-bs-content="{{ knife.lock_type_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-end"># of Blades:</dt>
            <dd class="col-sm-8 text-start">{{ number_of_blades }}</dd>
            <dt class="col-sm-4 text-end">Deployment Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.deployment_type %}
                    {{ knife.deployment_type }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Closed Length:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.closed_length %}
                    {{ knife.closed_length|strip_trailing_zeros }}&nbsp;{% if knife.uom %}{{ knife.uom }}{% endif %}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Country:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.country %}
                    {{ knife.country }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Year Manufactured:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.year_of_manufacture %}
                    {{ knife.year_of_manufacture }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Vendor:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.vendor %}
                    {{ knife.vendor }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Year Purchased:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.year_of_purchase %}
                    {{ knife.year_of_purchase }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Notes:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.notes %}
                    {{ knife.notes }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-end">Purchased New:</dt>
            <dd class="col-sm-8 text-start">{% if knife.purchased_new == True %}<i class="fa-solid fa-circle-check text-primary"></i>{% else %}<i class="fa-solid fa-circle-xmark text-body-tertiary"></i>{% endif %}</dd>
            <dt class="col-sm-4 text-end">Needs Work:</dt>
            <dd class="col-sm-8 text-start">{% if knife.needs_work == True %}<i class="fa-solid fa-circle-check text-primary"></i>{% else %}<i class="fa-solid fa-circle-xmark text-body-tertiary"></i>{% endif %}</dd>
        </dl>
    </div>
</div>