{% load custom_filters %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
      Details
        {% if not form %}
            <span>
                <button type="button" class="btn btn-light btn-sm align-self-center new-btn" id="knife-copy-btn" value="{{ knife.knife_id }}"><i class="bi bi-copy"></i>&nbsp;&nbsp;Copy</button>

                <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% url 'knife_update' knife_id=knife.knife_id %}">
                    <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
                </a>
            </span>
        {% else %}
            <button type="button" class="btn btn-light btn-sm align-self-center new-btn" disabled>
                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
            </button>
        {% endif %}
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4 text-sm-end text-start">Brand:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.brand %}
                    <a href="{% url 'knives' %}{% querystring brand=knife.brand %}" class="link-style">{{ knife.brand.name }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.brand.parent_brand %}
                  <span class="text-info pointer">&nbsp;<i class="bi bi-p-circle-fill" data-bs-toggle="popover" data-bs-title="Parent Brand" data-bs-content="{{ knife.brand.parent_brand }}" data-bs-trigger="hover focus"></i></span>
                {% endif %}
                {% if knife.brand_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Brand Notes" data-bs-content="{{ knife.brand_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Knife:</dt>
            <dd class="col-sm-8 text-start">{{ knife.name }}</dd>
            <dt class="col-sm-4 text-sm-end text-start">Knife Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.knife_type %}
                    <a href="{% url 'knives' %}{% querystring knife_type=knife.knife_type %}" class="link-style">{{ knife.knife_type }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.knife_type_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Knife Type Notes" data-bs-content="{{ knife.knife_type_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Blade Material:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.blade_material %}
                    <a href="{% url 'knives' %}{% querystring blade_material=knife.blade_material %}" class="link-style">{{ knife.blade_material }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.blade_material_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Blade Material Notes" data-bs-content="{{ knife.blade_material_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Handle Material:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.handle_material %}
                    <a href="{% url 'knives' %}{% querystring handle_material=knife.handle_material %}" class="link-style">{{ knife.handle_material }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.handle_material_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Handle Material Notes" data-bs-content="{{ knife.handle_material_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Lock Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.lock_type %}
                    <a href="{% url 'knives' %}{% querystring lock_type=knife.lock_type %}" class="link-style">{{ knife.lock_type }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if knife.lock_type_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Lock Type Notes" data-bs-content="{{ knife.lock_type_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start"># of Blades:</dt>
            <dd class="col-sm-8 text-start">{{ number_of_blades }}</dd>
            <dt class="col-sm-4 text-sm-end text-start">Deployment Type:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.deployment_type %}
                    <a href="{% url 'knives' %}{% querystring deployment_type=knife.deployment_type %}" class="link-style">{{ knife.deployment_type }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Closed Length:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.closed_length %}
                    {{ knife.closed_length|strip_trailing_zeros }}&nbsp;{% if knife.uom %}{{ knife.uom }}{% endif %}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Country:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.country %}
                    <a href="{% url 'knives' %}{% querystring country=knife.country %}" class="link-style">{{ knife.country }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Year Manufactured:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.year_of_manufacture %}
                    {{ knife.year_of_manufacture }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Vendor:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.vendor %}
                    <a href="{% url 'knives' %}{% querystring vendor=knife.vendor %}" class="link-style">{{ knife.vendor }}</a>
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Year Purchased:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.year_of_purchase %}
                    {{ knife.year_of_purchase }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Notes:</dt>
            <dd class="col-sm-8 text-start">
                {% if knife.notes %}
                    {{ knife.notes }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Purchased New:</dt>
            <dd class="col-sm-8 text-start">{% if knife.purchased_new == True %}<i class="bi bi-check-circle-fill text-primary"></i>{% else %}<i class="bi bi-x-circle-fill text-body-tertiary"></i>{% endif %}</dd>
            <dt class="col-sm-4 text-sm-end text-start">Needs Work:</dt>
            <dd class="col-sm-8 text-start">{% if knife.needs_work == True %}<i class="bi bi-check-circle-fill text-primary"></i>{% else %}<i class="bi bi-x-circle-fill text-body-tertiary"></i>{% endif %}</dd>
        </dl>
    </div>
</div>