<div class="card mt-md-0 mt-3">
    <div class="card-header d-flex justify-content-between">
      Stats
    </div>
    <div class="card-body">
      {% csrf_token %}
      <div class="form-group row">
        <div class="col-auto">
          <label for="date" class="form-label">Last Purchase Date:</label>
        </div>
        <div class="col-auto ps-2">
            <input type="date" id="lastPurchaseDate" class="form-control form-control-sm" value="{{ last_purchase_date|date:'Y-m-d' }}">
        </div>
      </div>
    </div>
</div>
