<div class="col-md-6">
  <div class="card mb-3 gx-0">
    <div class="card-header d-flex justify-content-between">
        {{ brand.brand_name }}
    </div>
    <div class="card-body">
        {% if brand.photos %}
          <div class="d-flex flex-row flex-wrap mb-2">
              {% for photo in brand.photos %}
                <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                  {% include 'stabby_web/partials/_library-photo-card.html' %}
                </div>
              {% endfor %}
          </div>
        {% endif %}
    </div>
  </div>
</div>