<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast message-toast" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header {% if message.tags == 'Success' %}toast-header-background{% elif message.tags == 'Error' %}bg-danger{% endif %} text-white">
      {% if message.tags == 'Success' %}<i class="bi bi-check-lg"></i>{% elif message.tags == 'Error' %}<i class="bi bi-x-circle-fill"></i>{% endif %}&nbsp;&nbsp;
      <strong class="me-auto">{{ message.tags }}</strong>
      <span data-bs-theme="dark"><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button></span>
    </div>
    <div class="toast-body">
      <strong>{{ message }}</strong>
    </div>
  </div>
</div>