<div class="card">
    <div class="card-header d-flex justify-content-between">
      Photo
        <span>
            <button type="submit" class="btn btn-primary btn-sm align-self-center new-btn me-2" form="photo-form">
                <i class="bi bi-floppy-fill"></i>&nbsp;&nbsp;Save
            </button>

            <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% if active == 'knives' %}{% url 'knife_detail' knife_id=knife_id %}{% else %}{% url 'sharpener_detail' sharpener_id=sharpener_id %}{% endif %}">
                <i class="bi bi-x-circle"></i>&nbsp;Cancel
            </a>
        </span>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="photo-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">

                    {% if not photo %}
                        <div class="form-group">
                            <label for="id_photo" class="form-label">{{ form.photo.label }}</label>
                            {{ form.photo }}
                        </div>
                    {% endif %}


                    <div class="form-group">
                        <label for="id_description" class="form-label">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    
                    {% if photo %}
                        <div class="form-control p-0 border border-0 mb-2 mt-3 photo-card-lg">
                            <img src="{{ photo.photo.url }}" alt="{{ photo.photo.description }}">
                        </div>
                    {% endif %}
                    {% if photo %}
                        <div class="d-flex flex-row-reverse mt-2 mb-3">
                            <button type="button" class="btn btn-outline-danger btn-sm align-self-center new-btn " id="photo-delete-btn" value="[{{ photo.photo_id }}, {% if active == 'knives' %}{{ knife_id }}{% else %}{{ sharpener_id }}{% endif %}, {% if active == 'knives' %}true{% else %}false{% endif %}]">
                                <i class="bi bi-trash"></i>&nbsp;&nbsp;Delete
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
