<div class="card photo-card-sm d-inline-block me-2">
    <div class="photo-container">
        <img src="{{ photo.photo.url }}" title="{{ photo.description }}" alt="Photo of {% if active == 'knives' %}{{ knife.name }}{% else %}{{ sharpener.name }}{% endif %}">

        <a class="edit-btn btn" href="{% if active == 'knives' %}{% url 'photo_update' related_entity_id=knife.knife_id photo_id=photo.photo_id %}{% else %}{% url 'photo_update_sh' related_entity_id=sharpener.sharpener_id photo_id=photo.photo_id %}{% endif %}">
            <i class="bi bi-pencil-square"></i>
        </a>

        <a class="view-btn btn" href="{{ photo.photo.url }}"><i class="bi bi-search"></i></a>
    </div>
</div>