{% load custom_filters %}
<div class="card">
    <div class="card-header  d-flex justify-content-between">
      Details
      {% if not form %}
        <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% url 'sharpener_update' sharpener_id=sharpener.sharpener_id %}">
            <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
        </a>
      {% else %}
        <button type="button" class="btn btn-light btn-sm align-self-center new-btn" disabled>
            <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Edit
        </button>
      {% endif %}
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4 text-sm-end text-start">Brand:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.brand %}
                    {{ sharpener.brand }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
                {% if sharpener.brand_notes %}<span class="text-primary pointer">&nbsp;<i class="bi bi-info-circle" data-bs-toggle="popover" data-bs-title="Brand Notes" data-bs-content="{{ sharpener.brand_notes }}" data-bs-trigger="hover focus"></i></span>{% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Sharpener:</dt>
            <dd class="col-sm-8 text-start">{{ sharpener.name }}</dd>
            <dt class="col-sm-4 text-sm-end text-start">Length:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.length %}
                    {{ sharpener.length|strip_trailing_zeros }}&nbsp;{% if sharpener.uom %}{{ sharpener.uom }}{% endif %}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Width:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.width %}
                    {{ sharpener.width|strip_trailing_zeros }}&nbsp;{% if sharpener.uom %}{{ sharpener.uom }}{% endif %}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Cutting Agent:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.cutting_agent %}
                    {{ sharpener.cutting_agent }}
                {% else %}
                    <span class="text-body-tertiary">n/a
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Bonding Agent:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.bonding_agent %}
                    {{ sharpener.bonding_agent }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Lubricant:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.lubricant %}
                    {{ sharpener.lubricant }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Country:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.country %}
                    {{ sharpener.country }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
            <dt class="col-sm-4 text-sm-end text-start">Notes:</dt>
            <dd class="col-sm-8 text-start">
                {% if sharpener.notes %}
                    {{ sharpener.notes }}
                {% else %}
                    <span class="text-body-tertiary">n/a</span>
                {% endif %}
            </dd>
        </dl>
    </div>
</div>