<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header {% if message.tags == 'Success' %}toast-header-background{% elif message.tags == 'Error' %}bg-danger{% endif %} text-white">
      {% if message.tags == 'Success' %}<i class="fa-solid fa-check"></i>{% elif message.tags == 'Error' %}<i class="fa-solid fa-x"></i>{% endif %}&nbsp;&nbsp;
      <strong class="me-auto">{{ message.tags }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <strong>{{ message }}</strong>
    </div>
  </div>
</div>