<div class="card">
    <div class="card-header d-flex justify-content-between">
      <span>
        {% if form_type == 'add'%}Add {% else %}Edit {% endif %}Work Log{% if related_entity %} - <strong>{{ related_entity.brand}} {{ related_entity.name }}</strong>{% endif %}
      </span>
      <span>
        <button type="submit" class="btn btn-primary btn-sm align-self-center new-btn me-2" form="work-log-form"><i class="bi bi-floppy"></i>&nbsp;&nbsp;Save</button>
        <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% if active == 'knives' %}{% url 'knife_detail' knife_id=related_entity_id %}{% else %}{% url 'sharpener_detail' sharpener_id=related_entity_id %}{% endif %}#work_log_card"><i class="bi bi-x-circle"></i>&nbsp;&nbsp;Cancel</a>
        </span>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="work-log-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_date" class="form-label">{{ form.date.label }}</label>
                        {{ form.date }}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="id_description" class="form-label">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>