{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stabby.tech</title>
    {% comment %} <link href="{% static "stabby_web/css/bootstrap.min.css" %}" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'stabby_web/css/toastr.min.css' %}" media="all">
    <link href="{% static "stabby_web/css/bundle.css" %}" rel="stylesheet">
  <script defer src="js/bundle.js"></script><link href="css/bundle.css" rel="stylesheet"></head>
  <body>
    {% if user.is_authenticated %}
      <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"  href="{% url 'knives' %}">stabby.tech</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link {% if active == 'knives' %}active{% endif %}"  aria-current="page" href="{% url 'knives' %}">Knives</a>
              <a class="nav-link {% if active == 'sharpeners' %}active{% endif %}" href="{% url 'sharpeners' %}">Sharpeners</a>
              {{ user.user_id }}
            </div>
          </div>
          <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <span class="text-white me-3"><u>{{user.first_name}} {{user.last_name}}</u></span>
            <button class="btn btn-sm btn-light" type="submit">Logout</button>
          </form>
        </div>
      </nav>
    {% endif %}
    <main id="main" class="ps-5 pe-5 pt-3">
      {% block main %}
      {% endblock %}
    </main>
    <script src="https://kit.fontawesome.com/351ee93ed8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'stabby_web/js/toastr.min.js' %}"></script>  
    <script src="{% static "stabby_web/js/ag-grid-community.min.js" %}"></script>
    {% comment %} <script src="{% static "stabby_web/js/bootstrap.min.js" %}"></script> {% endcomment %}
    <script src="{% static "stabby_web/js/bundle.js" %}"></script>

    {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'success'%}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Success')</script>
          {% elif message.tags == 'info' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
          {% elif message.tags == 'warning' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
          {% elif message.tags == 'error' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Error')</script>
          {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
