@import "bootstrap/scss/bootstrap";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

.center {
    text-align: center;
}

.new-btn {
    padding-right: 11px;
}

#grid {
    height: 600px;
}

#blade_grid {
    height: 200px;
}

#wl_grid {
    height: 300px;
}

.pointer {
    cursor: pointer;
}

/* specifically targets small grids in cards */
#blade_grid.ag-theme-alpine .ag-root-wrapper {
    border: none;
}

#wl_grid.ag-theme-alpine .ag-root-wrapper {
    border: none;
}

#toast-container > div {
    opacity: 1;
}