@import "bootstrap/scss/bootstrap";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";


.blue {
    color: #12387a;
}

.center {
    text-align: center;
}

.gallery-card {
    max-height: 340px;
    overflow: auto;
}

.navbar {
  background-color: #12387a !important;
  border: none !important;
  border-width:0!important;
}

.new-btn {
  padding-right: 11px;
}

.photo-card-sm {
    max-width: 100px;
    border: 0px;
}

.photo-card-sm img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

.pointer {
    cursor: pointer;
}

.link-style {
    color: #12387a;
    text-decoration: none
}

.toast-header-background {
    background-color: #127a49;
    color: white;
}

/* specifically targets small grids in cards */
#blade_grid.ag-theme-alpine .ag-root-wrapper {
    border: none;
}

#wl_grid.ag-theme-alpine .ag-root-wrapper {
    border: none;
}

#grid {
    height: 760px;
}

#toast-container > div {
    opacity: 1;
}