{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stabby.tech</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'stabby_web/images/favicon-32x32.png' %}">
    <link href="{% static "stabby_web/css/bundle.css" %}" rel="stylesheet">
  </head>
  <body>
    {% if user.is_authenticated %}
      {% include 'stabby_web/partials/_nav-bar.html' %}
    {% endif %}
    
    <main id="main" class="ps-sm-5 pe-sm-5 ps-3 pe-3 pt-3">
      {% block main %}
        {% comment %} MAIN CONTENT {% endcomment %}
      {% endblock %}
    </main>

    <script src="{% static "stabby_web/js/bundle.js" %}"></script>

    {% if messages %}
          {% for message in messages %}
            {% include 'stabby_web/partials/_toast.html' %}
        {% endfor %}
    {% endif %}

    {{ template_variables|json_script:"template-variables" }}
  </body>
</html>
