{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stabby.tech</title>
    <link href="{% static "stabby_web/css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
    <main id="main">
        {% block main %}
        
        {% endblock %}
    </main>
    <script src="{% static "stabby_web/js/bootstrap.min.js" %}"></script>
  </body>
</html>
