{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row">
      {% include 'stabby_web/partials/_bc-blade-add-edit.html' %}
    </div>

    <div class="row mt-3">
        <div class="col-md-6 order-md-1 order-2 mt-3 mt-md-0">
            {% include 'stabby_web/partials/_knife-detail-card.html' %}
        </div>
        <div class="col-md-6 order-md-2 order-1">
            {% include 'stabby_web/partials/_blade-form-card.html' %}
        </div>
    </div>


{% endblock %}
