{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row">
        <h5 class="inline-block mb-0">Knives / Detail / {% if form_type == 'add' %}Add{% else %}Edit{% endif %} Blade</h5>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            {% include 'stabby_web/partials/_knife-detail-card.html' %}
        </div>
        <div class="col-md-6">
            {% include 'stabby_web/partials/_blade-form-card.html' %}
        </div>
    </div>


{% endblock %}
