
{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        {% include 'stabby_web/partials/_bc-dashboard.html' %}
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            {% include 'stabby_web/partials/_last-purchase-date-card.html' %}

            {% include 'stabby_web/partials/_steel-type-chart-card.html' %}
            {% comment %} <div id="steel-type-chart" class="mt-4">
                <div class="center" id="st-chart-spinner" style="margin-top: 125px;">
                    <div class="d-inline-block">
                        <div class="spinner-border text-secondary chart-spinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>

        <div class="col-md-6">
            
        </div>
    </div>

{% endblock %}
