
{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        {% include 'stabby_web/partials/_bc-dashboard.html' %}
    </div>

    {% comment %} <div class="row mt-3 mb-5">
        {% include 'stabby_web/partials/_chart-deployment-type-card.html' %}
    </div> {% endcomment %}

    <div class="row mt-3 mb-5">
        <div class="col-md-4">
            {% include 'stabby_web/partials/_dash-stats-card.html' %}

            {% include 'stabby_web/partials/_chart-steel-type-card.html' %}

            {% include 'stabby_web/partials/_breakdown-blade-material-card.html' %}
        </div>

        <div class="col-md-4">
            {% include 'stabby_web/partials/_breakdown-brand-card.html' %}

            {% include 'stabby_web/partials/_chart-country-card.html' %}

            {% include 'stabby_web/partials/_breakdown-handle-material-card.html' %}
        </div>

        <div class="col-md-4">
            {% include 'stabby_web/partials/_breakdown-vendor-card.html' %}

            {% include 'stabby_web/partials/_chart-lock-type-card.html' %}

            {% include 'stabby_web/partials/_chart-deployment-type-card.html' %}
        </div>
    </div>

{% endblock %}
