
{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        {% include 'stabby_web/partials/_bc-dashboard.html' %}
    </div>

    <div class="row mt-3 mb-5">
        <div class="col-md-4">
            {% include 'stabby_web/partials/_dash-stats-card.html' %}

            {% include 'stabby_web/partials/_brand-breakdown-card.html' %}
        </div>

        <div class="col-md-4">
            {% include 'stabby_web/partials/_country-chart-card.html' %}
            
            {% include 'stabby_web/partials/_steel-type-chart-card.html' %}
        </div>

        <div class="col-md-4">
            {% include 'stabby_web/partials/_lock-type-chart-card.html' %}
        </div>
    </div>

{% endblock %}
