{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        {% include 'stabby_web/partials/_bc-knife-add-edit.html' %}
        
        <span>
            <button type="submit" form="knife-form" class="btn btn-primary btn-sm align-self-center new-btn me-2"><i class="fa-solid fa-floppy-disk"></i>&nbsp;&nbsp;Save</button>
            <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% if form_type == 'add' %}{% url 'knives' %}{% else %}{% url 'knife_detail' knife_id=knife_id %}{% endif %}"><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancel</a>
        </span>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            {% include 'stabby_web/partials/_knife-form-card.html' %}
        </div>
    </div>
    <div class="d-flex flex-row-reverse mt-2 mb-3">
        <button type="button" class="btn btn-outline-danger btn-sm align-self-center new-btn " id="knife-delete-btn" value="{{ knife_id }}"><i class="fa-solid fa-trash"></i>&nbsp;&nbsp;Delete</button>
    </div>

{% endblock %}