{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row">
      {% include 'stabby_web/partials/_bc-knife-detail.html' %}
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            {% include 'stabby_web/partials/_knife-detail-card.html' %}
        </div>
        <div class="col-md-6">
            {% include 'stabby_web/partials/_blade-grid-card.html' %}
 
            {% include 'stabby_web/partials/_gallery-card.html' %}
        </div>
    </div>
    <div class="row mt-3 mt-md-4 mb-4">
        <div class="col-md-12">
            {% include 'stabby_web/partials/_work-log-grid-card.html' %}
        </div>
    </div>
{% endblock %}