{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        <h3 class="inline-block">Knife - Details</h3>
        <button type="button" class="btn btn-light btn-sm align-self-center new-btn"><i class="fa-solid fa-edit"></i>&nbsp;&nbsp;Edit</button>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 text-end">Brand:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.brand %}
                                {{ knife.brand }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Knife:</dt>
                        <dd class="col-sm-8 text-start">{{ knife.name }}</dd>
                        <dt class="col-sm-4 text-end">Knife Type:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.knife_type %}
                                {{ knife.knife_type }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Lock Type:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.lock_type %}
                                {{ knife.lock_type }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Deployment Type:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.deployment_type %}
                                {{ knife.deployment_type }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Blade Material:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.blade_material %}
                                {{ knife.blade_material }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Handle Material:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.handle_material %}
                                {{ knife.handle_material }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Closed Length:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.closed_length %}
                                {{ knife.closed_length }}&nbsp;{% if knife.uom %}{{ knife.uom }}{% endif %}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Country:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.country %}
                                {{ knife.country }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Year Manufactured:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.year_of_manufacture %}
                                {{ knife.year_of_manufacture }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Vendor:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.vendor %}
                                {{ knife.vendor }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Year Purchased:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.year_of_purchase %}
                                {{ knife.year_of_purchase }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Notes:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if knife.notes %}
                                {{ knife.notes }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  Blade(s)
                </div>
                <div class="card-body">
                    Card Body
                    {% comment %} <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}