
{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        {% include 'stabby_web/partials/_bc-knives.html' %}
        
        <div>
            <a type="button" class="btn btn-light btn-sm align-self-center new-btn me-1" href="{% url 'knife_create'%}">
                <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add
            </a>

            <button class="btn btn-light btn-sm" id="knife-excel-btn">
                <i class="bi bi-file-earmark-excel"></i>&nbsp;&nbsp;Export
            </button>
        </div>
        
    </div>

    <div id="grid" class="ag-theme-alpine mt-2 mb-4"></div>

{% endblock %}
