
{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">

        {% include 'stabby_web/partials/_bc-library.html' %}
        
        <a type="button" class="btn btn-light btn-sm align-self-center new-btn" href="{% url 'library_item_create'%}">
            <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add
        </a> 
    </div>

    {% if library|length > 0 %}
        Library has stuff.
    {% else %}
        <div class="text-body-tertiary text-center">
            <h4>No Items Uploaded</h4>
            <h1 class="mb-0"><i class="bi bi-images"></i></h1>
        </div>
    {% endif %}

{% endblock %}
