{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        <h3 class="inline-block">Sharpener - Detail</h3>
        <button type="button" class="btn btn-light btn-sm align-self-center new-btn"><i class="fa-solid fa-edit"></i>&nbsp;&nbsp;Edit</button>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            {% include 'stabby_web/partials/_sharpener-detail-card.html' %}
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                  Photo(s)
                  <button type="button" class="btn btn-light btn-sm align-self-center new-btn"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add</button>
                </div>
                <div class="card-body">
                    <h2>This will be photos.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            {% include 'stabby_web/partials/_work-log-card.html' %}
        </div>
    </div>
{% endblock %}