{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        <h3 class="inline-block">Sharpener - Detail</h3>
        <button type="button" class="btn btn-light btn-sm align-self-center new-btn"><i class="fa-solid fa-edit"></i>&nbsp;&nbsp;Edit</button>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 text-end">Brand:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.brand %}
                                {{ sharpener.brand }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Sharpener:</dt>
                        <dd class="col-sm-8 text-start">{{ sharpener.name }}</dd>
                        <dt class="col-sm-4 text-end">Length:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.length %}
                                {{ sharpener.length }}&nbsp;{% if sharpener.uom %}{{ sharpener.uom }}{% endif %}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Width:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.width %}
                                {{ sharpener.width }}&nbsp;{% if sharpener.uom %}{{ sharpener.uom }}{% endif %}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Cutting Agent:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.cutting_agent %}
                                {{ sharpener.cutting_agent }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Bonding Agent:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.bonding_agent %}
                                {{ sharpener.bonding_agent }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Lubricant:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.lubricant %}
                                {{ sharpener.lubricant }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Country:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.country %}
                                {{ sharpener.country }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                        <dt class="col-sm-4 text-end">Notes:</dt>
                        <dd class="col-sm-8 text-start">
                            {% if sharpener.notes %}
                                {{ sharpener.notes }}
                            {% else %}
                                <span class="text-body-tertiary">n/a
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}