{% extends "stabby_web/_base.html" %}

{% block main%}

    <div class="d-flex flex-row justify-content-between">
        <h5 class="inline-block mb-0">{% if active == 'knives' %}Knives{% else%}Sharpeners{% endif %} / Detail / {% if form_type == 'add' %}Add{% else %}Edit{% endif %} Work Log</h5>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            {% include 'stabby_web/partials/_work-log-form-card.html' %}
        </div>
        <div class="col-12 mt-3">
            {% if show_existing == True %}
                {% include 'stabby_web/partials/_work-log-card.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}